<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Lora&family=Poiret+One&display=swap" rel="stylesheet">
<div style="margin-top:130px" class="container front-page">
    <h1 class="front-page-text">Hi, I'm Tim</h1>
    <div class="spacer"></div>
    <h1 class="front-page-text">I'm a C# Developer</h1>
    <div class="spacer"></div>
    <hr><hr>
    <h2 class="text-center front-page-text">I build awesome web apps and APIs</h2>
    <a class="btn btn-primary selection-btn" asp-area="" asp-controller="Selection" asp-action="Index">Game Selection</a>
</div>

<style>
    .front-page {
        text-align: center !important;
        margin-bottom:200px;
    }

    .front-page-text {
        font-size: 60px;
        font-family: 'Poiret One', cursive;
    }

    .card-2 {
        margin-right: 0% !important;
    }
    .selection-btn {
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        background-color: #000000;
        border-color:#fff;
        color:#fff;
        padding-left:20px;
        padding-right:20px;
    }

    .card-grid {
        margin-top: 35vh;
        margin-bottom: 100px;
        justify-content: center;
    }
</style>
