@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1 id="title">Thank you, your Email has been confrimed</h1>
<p> Please login via the login portal</p>
<img  id="confirm"src="~/images/Confirm.png" alt="Alternate Text" />
<style>
    #title {
        margin-top: 70px;
    }
    #confirm {
        width:20%;
        height:20%;
    }
</style>
