@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1 id="title">Register confirmation</h1>
<p>
  Please check your email to confirm your account....
</p>
<p>
    If you can't see the email, please check your spam folder.
</p>
<img id ="email-logo"src="~/images/Email.png" alt="Alternate Text" />
<style>
    #title {
        margin-top:70px;
    }
    #email-logo {
        width: 20%;
        height: 20%;
        margin-left: auto !important;
        margin-right: auto !important;
    }
</style>
